*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.clock{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.438);
    box-shadow: 0 0 10px 1px rgba(126, 126, 126, 0.452);
    position: relative;
}


.numbers{
    width: inherit;
    height: inherit;
    position: relative;
}

.twelve{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.six{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.three{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
.nine{
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.arrows{
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}