*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#40e0d0, #ff8c00, #ff0080);;
}

.clock{
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.438);
    box-shadow:  0 0 20px 8px rgb(0 0 0 / 65%);;
    position: relative;
    border-radius: 50%;
}


.numbers{
    width: inherit;
    height: inherit;
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.twelve{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.six{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.three{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
.nine{
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.arrows{
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrows::before{
    content: '';
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    z-index: 10; 
    box-shadow: 0 0 5px 3px #2f2f2f4d;
}

.arrows span{
    position: absolute;
    bottom: 50%;
    width: 0.5rem;
    height: 8.5rem;
    border-radius: 50% 50% 0 0;
    background-color: #fff;
    transform-origin: bottom center;

}
.arrows .hour{
    height: 8rem;
    background-color: #2196f3;
    
}

.arrows .second{
    height: 10rem;
    width: 0.3rem;
    background-color: #6563c2;
    
}